@import "tailwindcss";

@theme {
  --color-primary: #fea928;
  --color-secondary: #ed8900;
}

@utility container{
  center: true;
  padding: {
    DEFAULT: "1rem";
    sm: 3rem;

  }
}

@custom-variant dark (&:where(.dark, .dark *));